table,
th,
td {
  margin: 2rem auto;
  padding: 0.2rem 0.75rem;
  text-align: left;
  border: 1px solid;
  border-collapse: collapse;
  background-color: #458a7368;
}

th {
  text-align: center;
}

.table-container {
  margin: 1rem auto;
  font-size: 1.5rem;
}

.td-input {
  margin: 0;
  padding: 0.2rem 0.75rem;
  font-size: calc(10px + 1.5vmin);
  border-radius: 0;
}
