/* ========== Umbrellas ==========  */
:root {
  --lightBread: #e6e0d8;
  --mediumBread: #b3896c;
  --darkBread: #8b4513;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  padding: 2rem 0 1rem 0;
  background-image: url("https://image.freepik.com/free-vector/hand-drawn-wallpaper-background-various-sandwiches_54006-787.jpg");
}

header,
footer,
.main-content,
.secondary-content {
  background-color: var(--lightBread);
  z-index: 2;
}

/* ========== Elements ========== */
main,
.flex-container {
  background: transparent;
}

details {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

header,
footer {
  border: 0.25rem solid var(--darkBread);
  border-radius: 1rem 3rem;
}

header {
  max-width: max-content;
  margin: 0 auto 1.5rem auto;
  padding: 0.5rem 2rem;
  font: 600 2rem 'Rubik', sans-serif;
}

footer {
  width: max-content;
  margin: 3rem auto 1rem auto;
  padding: 0.7rem;
  font: italic 1rem 'Rubik', sans-serif;
}

summary {
  font-size: 1.1rem;
  font-variant: small-caps;
  list-style: '🥪';
  margin-left: 0.8rem;

}

summary:hover {
  cursor: pointer;
  text-shadow: 0.5rem 0.5rem 1rem var(--mediumBread);
}

/* ========== Classes ========== */
.flex-container {
  display: flex;
  margin: 0 0.5rem;
}

.flex-cols {
  flex-direction: column;
}

.main-content {
  max-width: 80%;
  font-size: 1.1rem;
  line-height: 1.4rem;
}

.main-content,
.secondary-content {
  border: 0.25rem solid var(--mediumBread);
  border-radius: 1rem;
  padding: 0 0.5rem;
  font-size: 1.1rem;
  line-height: 1.4rem;
}

.secondary-content {
  margin-right: 1rem;
}

.img-container {
  justify-content: space-around;
}

.article-img {
  max-width: 30%;
  border: transparent;
  border-radius: 2rem;
  margin: 1rem 0;
}

.indent {
  margin-left: 1rem;
}

.scrolling-sub {
  width: 25%;
  height: auto;
  background-color: transparent;
  position: absolute;
  animation: scroll 10s linear infinite;
}

.strike {
  text-decoration: line-through;
}

/* ========== Queries & misc. ========== */
@keyframes scroll {
  0% {
    transform: translateX(-30vw);
  }
  100% {
    transform: translateX(98vw);
  }
}