/* ========== Umbrellas ==========  */
:root {
  --lightBread: #e6e0d8;
  --mediumBread: #b3896c;
  --darkBread: #8b4513;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  padding: 2rem 0 1rem 0;
  background-image: url("https://image.freepik.com/free-vector/hand-drawn-wallpaper-background-various-sandwiches_54006-787.jpg");
}

header,
footer,
.main-content,
.secondary-content {
  background-color: var(--lightBread);
  z-index: 2;
}

.grid-container {
  display: grid;
  background: transparent;
  gap: 0.5rem;
}

main.grid-container {
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
  "header header header header"
  "sidebar article article article"
  "sidebar article article article"
  "sidebar article article article"
  "footer footer footer footer";
}

article.grid-container {
  grid-template-rows: 1fr, 1fr;
  grid-template-areas:
  "content"
  "pic-container";
}

.grid-container.pic-container {
  grid-area: pic-container;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
  "pic pic pic"
}

.grid-item {
  background-color: var(--lightBread);
  padding: 0.4rem;
  border: 0.3rem solid var(--mediumBread);
  border-radius: 1.5rem;
}

.header,
.footer {
  padding: 0.5rem 1.5rem;
  margin: 1rem auto 1.5rem auto;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.article {
  grid-area: article;
}

.content {
  grid-area: content;
}

.pic {
  border: transparent;
  width: 30vw;
  grid-area: pic;
}

.footer {
  grid-area: footer;
}

.scrolling-sub {
  width: 25%;
  height: auto;
  background-color: transparent;
  position: absolute;
  animation: scroll 10s linear infinite;
}

/* ========== Queries & misc. ========== */
@keyframes scroll {
  0% {
    transform: translateX(-30vw);
  }
  100% {
    transform: translateX(98vw);
  }
}
