body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  padding: 1rem;
  margin: 0.5rem;
  border: 0.5rem solid #6a5acd;
  border-radius: 2rem;
  max-width: 80%;
}

.link {
  color: #61dafb;
}

.btn {
  max-width: fit-content;
  margin: 0.5rem auto;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}
/* ======== 11_7_23 TEMP ASSIGNMENT ========
.input-container {
  display: block;
  margin: 0.5rem;
  padding: 0.5rem;
}

input {
  background-color: rgb(255, 255, 255);
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  border: 0.3rem solid #9e2fff;
  border-radius: 2rem;
}

.negative {
  border-color: #ff0000;
  color: #ff0000;
  min-width: 20vw;
}
*/

/* ======== 11_7_23 TEMP ASSIGNMENT ========
.inputs,
.btn-list {
  display: flex;
  justify-content: space-around;
}

.inputs {
  flex-direction: column;
}

.input-container {
  margin: 0.5rem;
  padding: 0.5rem;
}

input {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}
*/
