/* ========== Umbrellas ==========  */
:root {
  --lightBread: #e6e0d8;
  --mediumBread: #b3896c;
  --darkBread: #8b4513;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  padding: 2rem 0 1rem 0;
  background-image: url("https://image.freepik.com/free-vector/hand-drawn-wallpaper-background-various-sandwiches_54006-787.jpg");
}

/* ========== Elements ========== */
img {
  max-width: 25vw;
  border: transparent;
  border-radius: 1rem;
}

/* ========== Classes ========== */
.grid-container-parent {
  display: grid;
  background: transparent;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
  "header header header"
  "sidebar content content"
  "sidebar content content";
  grid-auto-rows: 20vh;
  gap: 0.4rem;
  border: 0.3rem solid var(--mediumBread);
  border-radius: 1.5rem;
}

.grid-item {
  background-color: var(--lightBread);
  padding: 0.4rem;
  border: transparent;
  border-radius: 1rem;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

/* ========== Queries & misc. ========== */
